/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*===================================END OF RESET=============================================*/
header {
  position: absolute;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  top: 70px;
  left: 130px;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;;
    grid-template-areas: "l c r" "lbelow cbelow rbelow";
    justify-items: center;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
}
.mode {
    height: 40px;
    width: 140px;
    color: rgba(0, 0, 0, 0.781);
    background-color: rgba(100, 148, 237, 0.747);
    font-size: 25px;
    border-radius: 5px;
    border:solid 1px black;
}

#start-container {
    display:block;
    grid-area: c;
}
#start-container p {
  margin: 10px auto;
  text-align: center;
  font-size: 25px;
}

#gameboard {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    grid-area: cbelow;
    background:khaki;
}

.square {
    width: 100%;
    height: 100%;
    border:solid 1px black;
    font-size: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.781);
    background-color: rgba(100, 148, 237, 0.747);
    border-radius: 5px;
}

.icon {
    width: 80px;
    height: 80px;
    border:solid 1px black;
    font-size: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.781);
    background-color: rgba(100, 148, 237, 0.747);
    border-radius: 5px;
    line-height: 75px;
    margin: 20px auto;
}
#player-one-panel {
  display:grid;
  grid-area: lbelow;
  justify-content: center;;
}
#player-two-panel {
  display:grid; 
  grid-area: rbelow;
  justify-content: center;
}

.player-name {
  color: black;
  font-size: 25px;
  text-align: center;
}




  
  .btn {
    background-color:  rgba(100, 148, 237, 0.747);
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    height:95%;
  }




  .winner-popup {
    border: 2px solid #000000;
    border-radius: 5%;
    display: none; /*keeps it hidden until add button is clicked*/
    margin:auto auto;
    position: fixed;
    bottom: 250px;
  }
  
  .winner-form-container {
    align-items:center;
    background-color: #b3b4aae7;
    border-radius: 5%;
    display: grid;
    font-size: 20px;
    grid-template-rows: 1fr 1fr;
    line-height: 25px;
    padding: 10px;
    text-align: center;
    height: 100px;
    width: 300px;
  }

